@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070707 url("/images/noise_bg.png");
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.background-hero {
  background: radial-gradient(
      at right center,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/images/hero.jpg") no-repeat center center / cover;
}

.background-inspiracion {
  background: radial-gradient(
      at 50% 5%,
      rgba(0, 0, 0, 0) 0%,
      rgba(7, 7, 7, 0.6) 50%,
      rgba(7, 7, 7, 1) 80%
    ),
    url("/images/que-nos-inspira/header.jpg") no-repeat center center / cover;
}

@media (max-width: 850px) {
  .background-hero {
    background: radial-gradient(
        at right center,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 1)
      ),
      url("/images/hero.jpg") no-repeat 65% center / cover;
  }
}

@media (max-width: 768px) {
  .background-hero {
    background: radial-gradient(
        at right center,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
      ),
      url("/images/hero.jpg") no-repeat 70% center / cover;
  }
}
